<div mdbModal #dialog="mdbModal" class="modal fade"
     tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="dialog.hide()"
          *ngIf="isShowClose">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
          {{content}}
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                *ngIf="negative !== undefined" id="closeModal"
                (click)="cancel()" mdbWavesEffect>{{negative}}</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light"
                (click)="ok()"
                mdbWavesEffect>{{positive}}</button>
      </div>
    </div>
  </div>
</div>
<button type="button" mdbBtn color="primary"
        style="display: none" id="showModal"
        class="relative waves-light" (click)="dialog.show()"
        mdbWavesEffect>Launch demo modal</button>
