mdb-card {
  margin-top: 15px;
}
mdb-card:last-child {
  margin-bottom: 15px;
}
.article-info {
  list-style: none;
  padding: 0;
}
.article-content {
  width: 100%;
}
mdb-card-img {
  float: left;
  width: 130px;
  margin-right: 10px;
  object-fit: cover;
}
.btn-show-all {
  color: #007bff!important;
}
.article-content-preview {
  height: 100px;
  overflow: hidden;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
}
