//@import "~bootstrap/scss/bootstrap";

.editor-container {
  width: 100%;
  padding: 20px;
}
#editor {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}
#edit-area-wrapper {
  padding: 20px;
}
.edit-area {
  float: left;
  position: relative;
}
.preview-area {
  float: left;
  position: relative;
  overflow-y: scroll;
  background-color: #fcfaf2;
  //display: none;
}
.title-input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  text-align: center;
}
.half {
  width: 50%;
}
.whole {
  width: 100%;
}
.fun-btn {
  padding: 5px 15px;
}
label {
  font-size: 12px;
  color: #8590a6;
}
.none {
  display: none;
}
.upload-cover {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 100;
  background-color: rgba(33, 33, 33, 0.4);
}
.upload-progress {
  width: 70%;
  margin-left: 15%;
  margin-top: 90px;
}
.cover-info {
  z-index: 10;
  text-align: center;
  position: absolute;
  color: white;
  padding-top: 20px;
}
.round-img {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.cover-loading {
  width: 100%;
  z-index: 20;
  margin-top: 60px;
  position: absolute;
}
#selectCatalogBtn {
  width: 80%;
  left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tag-container {
  width: 80%;
  left: 10%;
}
#tagHelp {
  width: 100%;
}
.tag-wrapper {
  width: 100%;
  margin-bottom: 5px;
}
.tags {
  margin-right: 5px;
}
.delete-tag {
  margin-left: 10px;
  color: white;
}
