<div class="content-container">
  <div class="container editor-container">
    <div class="row">
      <div class="col-10">
        <mdb-card>
          <mdb-card-body>
            <!--Material textarea-->
            <textarea type="text" id="editor" class="md-textarea" mdbInputDirective></textarea>

          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-2">
        <mdb-card>
          <mdb-card-body>
            <!--Material textarea-->
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
