<div id="article-container">
  <div *ngIf="isShowContent">
    <app-article *ngFor="let article of articles" [article]="article"></app-article>
  </div>
  <mdb-card *ngIf="isShowLoading">
    <mdb-card-body>
      <li class="loading" style="width: 10%"></li>
      <li class="loading" style="width: 30%"></li>
      <li class="loading" style="width: 35%"></li>
      <div>
        <div class="loading-img-placeholder"></div>
        <div style="margin-left: 110px">
          <li class="loading animation-delay"></li>
          <li class="loading" style="width: 70%"></li>
          <li class="loading loading-animation"></li>
          <li class="loading" style="width: 60%"></li>
          <li class="loading animation-delay"></li>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="load-more" *ngIf="isShowLoadMore">
    <button mdbBtn type="button" size="sm" [outline]="true"
            (click)="loadMore()"
            color="default" block="true" mdbWavesEffect>加载更多...
    </button>
  </mdb-card>
</div>
