<div id="article-container">


  <mdb-card *ngIf="isShowLoading">
    <mdb-card-body>
      <li class="loading" style="width: 10%"></li>
      <li class="loading" style="width: 30%"></li>
      <li class="loading" style="width: 35%"></li>
      <div>
        <div class="loading-img-placeholder"></div>
        <div style="margin-left: 110px">
          <li class="loading animation-delay"></li>
          <li class="loading" style="width: 70%"></li>
          <li class="loading loading-animation"></li>
          <li class="loading" style="width: 60%"></li>
          <li class="loading animation-delay"></li>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
  <div *ngIf="isShowContent">
    <mdb-card *ngFor="let article of articles">
      <mdb-card-body>
        <ul class="article-info">
          <li>
            <small><i class="fa fa-tags"></i> {{article.tag}}</small>
          </li>
          <li>
            <small><i class="fa fa-address-book"></i> {{article.author.nickname}} 著><a>{{article.author.account}}</a></small>
          </li>
        </ul>
        <mdb-card-title><h4>{{article.title}}</h4></mdb-card-title>
        <div class="article-content">
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                        alt="Card image cap"></mdb-card-img>
          <div class="article-content-preview">
            <p>{{article.content}}
            </p>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <mdb-card class="load-more" *ngIf="isShowLoadMore">
    <button mdbBtn type="button" size="sm" [outline]="true"
            (click)="loadMore()"
            color="default" block="true" mdbWavesEffect>加载更多...
    </button>
  </mdb-card>
</div>
