<div style="width: 100%;">
  <div class="today">
    <div class="year">
      {{currentDate.getFullYear()}}
    </div>
    <div class="month">
      {{currentDate.getMonth() + 1}}-{{currentDate.getDate()}}
    </div>
  </div>
  <div class="y-progress-bg">
    <div class="y-progress" id="y-progress"></div>
  </div>
  <div class="year-progress">
    YEAR PROGRESS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nowTime * 100 / totalTime}}%
  </div>
  <div class="y-progress-bg" style="margin-top: 15px">
    <div class="y-progress" id="life-progress"></div>
  </div>
  <div class="year-progress" style="margin-top: 5px">
    What if my life has only {{100 - (nowLife * 100 / totalLife)}}% time, Would you will stay a second for me or not?
  </div>
</div>
