<div class="content-container" xmlns="http://www.w3.org/1999/html">
  <app-nav [index]="1"></app-nav>
  <div class="container album-container" id="albumContainer">
    <div *ngFor="let row of albumSet" class="row list">
      <div *ngFor="let album of row " class="col album">
        <mdb-card >
          <div class="view overlay zoom album-item">
            <img src="{{album.cover.path}}" class="img-fluid"/>
            <div class="mask white-text album-info rgba-black-strong waves-light"
                 (click)="detail(album)"
                 mdbWavesEffect>
              <h3 style="font-family: Serif, sans-serif">{{album.title}}</h3>
              <small>{{album.description}}</small><br>
              <small><span class="badge blue">{{album.createDate}}</span></small>
            </div>
          </div>
        </mdb-card>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <div class="flex-center">
      <button mdbBtn type="button" color="primary"
              mdbTooltip="上一页"
              placement="left"
              (click)="pre()"
              size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
        <i class="fa fa-arrow-left"></i>
      </button>
      <button mdbBtn type="button" color="primary"
              mdbTooltip="当前第 {{currentPage}} 页，共 {{getPages()}} 页"
              placement="top"
              size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
        {{currentPage}} / {{getPages()}}
      </button>
      <button mdbBtn type="button" color="primary"
              mdbTooltip="下一页"
              placement="right"
              (click)="post()"
              size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="album-action fixed-bottom">
    <button mdbBtn type="button" color="primary"
            mdbTooltip="创建相册"
            placement="top"
            *ngIf="isAdmin"
            (click)="basicModal.show()"
            size="sm" class="waves-light float-right" mdbWavesEffect>
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <app-alert></app-alert>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center white-text primary-color">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="basicModal.hide()">
          <i class="fa fa-close red-text"></i>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">创建新相册</h4>
      </div>
      <div class="modal-body">
        <form class="text-left" style="color: #757575;">

          <div class="md-form form-sm">
            <i class="fa fa-photo prefix"></i>
            <input type="text" id="titleOfAlbum"
                   class="form-control" mdbInputDirective>
            <label for="titleOfAlbum">相册名称</label>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input type="text" id="descOfAlbum" class="form-control" mdbInputDirective>
            <label for="descOfAlbum">描述</label>
          </div>

          <div class="md-form">
            <div class="cover-container flex-center view overlay">
              <img id="cover-previewer" src="../../assets/imgs/main_bg.jpg">
              <div class="mask white-text album-info rgba-black-strong waves-light"
                   (click)="choseCover()"
                   mdbWavesEffect>
                <h3>添加封面</h3>
                <small>选取一张新照片作为相册封面</small>
              </div>
            </div>
            <input id="cover-chose" type="file" style="display: none"
                   accept="image/bmp, image/jpeg, image/png"
                   (change)="fileChange()">
          </div>
          <small class="text-danger" id="tips"></small>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>取消</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light"
                (click)="addAlbum()"
                mdbWavesEffect>创建</button>
      </div>
    </div>
  </div>
</div>
