.album-container {
  margin-top: 70px;
}
.album {
  max-width: 350px;
}
.album-item {
  height: 180px;
  border-radius: 5px;
  overflow: hidden;
}
.album-item img {
  width: 100%;
  height: 100%;
}
.album-info {
  z-index: 10;
  text-align: center;
  position: absolute;
  color: white;
  padding-top: 40px;
}
.list {
  margin-top: 20px;
}
.pagination-container {
  left: 30%;
  width: 40%;
  z-index: 1000;
  position: absolute;
  margin-top: 20px;
  text-align: center;
}
.cover-container {
  height: 150px;
  background-color: #0d47a1;
}
#photo-previewer {
  height: 150px;
  width: 100px;
}
