.black-confirm {
  width: 30%;
  left: 35%;
  top: 20%;
}
.black-container {
  width: 70%;
  left: 15%;
  position: absolute;
}
.card-item {
  width: 100%;
  max-height: 200px;
  margin-top: 10px;
  overflow: hidden;
}
