.black-confirm {
  width: 30%;
  left: 35%;
  top: 20%;
}
.black-container {
  width: 70%;
  left: 15%;
  margin-top: 70px;
  position: absolute;
  overflow: hidden;
}
.cards {
  width: 100%;
  height: calc(100% - 40px);
  display: block;
}
.card-item {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.fixed {
  height: 70px;
  line-height: 70px;
  padding-left: calc(100% - 150px);
  background-color: #212121;
}
