<div class="content-container">
  <mdb-card class="black-confirm zoomOut" *ngIf="!showContent">
    <mdb-card-header class="primary-color white-text text-center">
      <h4><i class="fa fa-lock"></i></h4>
    </mdb-card-header>
    <mdb-card-body class="elegant-color white-text">
      <small>&emsp; Don't you just take the past and put it in a room in the basement,
        and lock the door and never go in there? That' s what i do.
        And then you meet someone special, and all you want to do is toss them the key.
        Say: "Open up, Step inside". But you can't... because it's dark... and there are demons.
        And if anybody saw how ugly it is...
      </small>
      <br>
      <small>&emsp; 你不会将过去放进地下室的房间里吗？锁上门，再也不走进去？那是我会做的。然后你遇到一个对你而言特别的人，
        你想做的只是扔给他这把钥匙，说‘开了，进来吧’。
        但是你不能，因为里面很黑，还有恶魔，一旦有人看见里面有多肮脏…
        我一直都想，冲开门，让阳光洒进来，把一切都清洗干净。
      </small>
      <br>
      <small class="float-right"><span class="font-italic">The Talented Mr. Ripley</span></small>
      <br>
      <small>So, Do you want to go there? 所以，你还要进入小黑屋吗？</small>
      <br><br>

      <div class="row float-right">
        <button mdbBtn type="button"
                (click)="backHome()"
                color="dark-green" class="waves-light form-item"
                mdbWavesEffect>返回主页
        </button>
        <button mdbBtn type="button"
                (click)="enter()"
                color="danger" class="waves-light form-item"
                mdbWavesEffect><i class="fa fa-unlock"></i></button>
      </div>

    </mdb-card-body>
  </mdb-card>
  <div class="black-container fadeIn" *ngIf="showContent">
    <div class="row float-right fixed-top fixed">
      <div class="flex">
        <button mdbBtn type="button"
                mdbTooltip="返回主页"
                placement="left"
                (click)="backHome()"
                color="dark-green" size="sm" class="waves-light form-item"
                mdbWavesEffect><i class="fa fa-arrow-left"></i></button>
        <button mdbBtn type="button"
                color="unique" size="sm" class="waves-light form-item"
                mdbWavesEffect><i class="fa fa-edit"></i></button>
      </div>
    </div>
    <div style="clear: both"></div>
    <div class="row">
      <div class="col-9">
        <div class="cards">
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="card-item">
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title><h4>Card Title</h4></mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>

            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      </div>


      <div class="col-3">
        <div class="left">
          <mdb-card>
            <mdb-card-body>
              <small>just bb something here</small><br>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
