<div class="content-container">
  <div class="top-bg fixed-top flex-center"
       style="background-image: url(https:////photo-1253210260.cos.ap-chengdu.myqcloud.com/music.jpg)">
    <h1>感謝永遠有歌，道破人生境界。</h1>
  </div>
  <div class="list-container">
    <div class="logo">
      <img src="https://photo-1253210260.cos.ap-chengdu.myqcloud.com/cat.png">
      <a href="/#/home">她的貓</a> / 音樂
    </div>
    <div class="year-list-item">
      <div class="year-info">
        2018 年
      </div>
      <div class="list-item">
        <div class="list-item-date">
          11 Jan
        </div>
        <div class="list-item-container">
          你好萬達
        </div>
      </div>
      <div class="list-item">
        <div class="list-item-date">
          11 Jan
        </div>
        <div class="list-item-container">
          你好萬達
        </div>
      </div>
      <div class="list-item">
        <div class="list-item-date">
          11 Jan
        </div>
        <div class="list-item-container">
          你好萬達
        </div>
      </div>
    </div>
  </div>
</div>
