<div class="content-container">
  <div class="top-bg fixed-top flex-center"
       style="background-image: url(https:////photo-1253210260.cos.ap-chengdu.myqcloud.com/music.jpg)">
    <h1>感謝永遠有歌，道破人生境界。</h1>
  </div>
  <div class="list-container">
    <div class="logo">
      <img src="https://photo-1253210260.cos.ap-chengdu.myqcloud.com/cat.png">
      <a href="/#/home">她的貓</a> / {{type}}
    </div>
    <div class="year-list-item" *ngFor="let col of articles">
      <div class="year-info">
        {{col.year}} 年
      </div>
      <div class="list-item" *ngFor="let article of col.articles">
        <div class="list-item-date">
          {{getDate(article.datetime)}}
        </div>
        <div class="list-item-container waves-light" mdbWavesEffect>
          {{article.title}}
        </div>
      </div>
    </div>

    <button type="button" block="true" size="sm" style="margin-top: 20px; margin-left: 0;" *ngIf="shouldLoadMore"
            (click)="loadMore()"
            mdbBtn color="primary" mdbWavesEffect>{{loadText}}</button>
  </div>
</div>
