.upload-photo-container {
  margin-top: 20px;
}
.album-list {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}
.photo-wrapper {
  width: 100%;
}
.photo-item {
  height: 150px;
  background-color: #1E90FF;
  margin: 5px;
  text-align: center;
  line-height: 150px;
}
