<div class="content-container">
  <div class="container upload-photo-container">
    <div class="row">
      <div class="col-9">
        <mdb-card>
          <mdb-card-body>
            <div class="container photo-wrapper">
              <div class="row">
                <div class="col photo-item waves-light" mdbWavesEffect>
                    <i class="fa fa-plus" style="font-size: 30px"></i>
                </div>
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
              </div>
              <div class="row">
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
              </div>
              <div class="row">
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
              </div>
            </div>
            <input type="file" hidden>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-3">
        <div class="dropdown" mdbDropdown>

          <!--Trigger-->
          <button mdbDropdownToggle mdbBtn color="primary" block="true"
                  class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
            Dropdown primary
          </button>

          <!--Menu-->
          <div class="dropdown-menu dropdown-primary album-list">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <!--/Dropdown primary-->
      </div>
    </div>
  </div>
</div>
