<div class="content-container">
  <div class="container upload-photo-container">
    <div class="row">
      <div class="col-9">
        <mdb-card>
          <mdb-card-body>
            <div class="container photo-wrapper">
              <div class="row">
                <div id="1" class="col view overlay zoom photo-item waves-light"
                     (click)="choseImage()" mdbWavesEffect>
                  <i class="fa fa-plus" style="font-size: 30px"></i>
                </div>
                <div id="2" class="col view overlay zoom photo-item">

                </div>
                <div id="3" class="col photo-item"></div>
              </div>
              <div class="row">
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
              </div>
              <div class="row">
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
                <div class="col photo-item"></div>
              </div>
            </div>
            <input id="image-input"
                   (change)="imagesChange()"
                   accept="image/bmp, image/jpeg, image/png" type="file" multiple hidden>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-3">
        <div class="dropdown" mdbDropdown>

          <!--Trigger-->
          <button mdbDropdownToggle mdbBtn color="primary" block="true"
                  class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
            Dropdown primary
          </button>

          <!--Menu-->
          <div class="dropdown-menu dropdown-primary album-list">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <!--/Dropdown primary-->
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger alert-dismissible fade tips" role="alert">
  <strong>提示!</strong>一次上传的图片数量不能超过<span class="badge badge-primary">9</span>张
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
