<div class="component-container">
  <mdb-card id="find-password-container" cascade="true" wider="true" reverse="true" class="my-4">
    <!--Title-->
    <button type="button" color="danger" rounded="true"
            class="waves-light z-depth-1-half close-btn" mdbWavesEffect><i class="fa fa-close"></i></button>
    <mdb-card-header class="primary-color white-text text-center py-4">
      <h4>
        <strong>找回密码</strong>
      </h4>
    </mdb-card-header>
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">

      <form class="text-left" style="color: #757575;">
        <!-- Email -->
        <div class="md-form form-sm">
          <i class="fa fa-envelope-square prefix"></i>
          <input type="email" id="account"
                 data-error="账户必须为合法的邮箱地址"
                 data-success="输入正确"
                 class="form-control" mdbInputDirective>
          <label for="account">账户<span class="required">*</span></label>
        </div>
        <!-- Sign in button -->
        <button mdbBtn block="true" type="button"
                color="indigo" class="waves-light form-item"
                mdbWavesEffect>提 交</button>
      </form>
    </mdb-card-body>

  </mdb-card>
</div>

