<div class="content-container" xmlns="http://www.w3.org/1999/html">
  <app-nav></app-nav>
  <div class="container photo-container">
    <div class="row">
      <div class="col-9">
        <mdb-card>
          <mdb-card-body>
            <div class="images-container">
              <div class="image-list-item flex-center">
                <div class="photo-item view zoom waves-light" mdbWavesEffect>
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
              </div>
              <div class="image-list-item flex-center">
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
              </div>
              <div class="image-list-item flex-center">
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
              </div>
              <div class="image-list-item flex-center">
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
                <div class="photo-item view zoom">
                  <img src="../../assets/imgs/pho.jpeg">
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-3">
        <mdb-card class="album-info">
          <mdb-card-img src="../../assets/imgs/main_bg.jpg"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title class="flex-center"><h3>Unsplash</h3></mdb-card-title>
            <small class="flex-center">photo from unsplash.com</small>
            <div class="info">
              创建时间：<span class="badge blue">2018-09-29 11:25:44</span>
            </div>
            <div class="info">
              照片数量：<span class="badge blue">34</span>
            </div>
          </mdb-card-body>
        </mdb-card>
        <mdb-card style="margin-top: 20px">
          <mdb-card-body>
            <div>
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="上传新照片"
                      placement="top"
                      size="sm" class="waves-light" mdbWavesEffect>
                <i class="fa fa-plus"></i>
              </button>
              <button mdbBtn type="button" color="danger"
                      mdbTooltip="删除该相册"
                      placement="top"
                      size="sm" class="waves-light" mdbWavesEffect>
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </mdb-card-body>
        </mdb-card>
        <mdb-card style="margin-top: 20px">
          <mdb-card-body>
            <div>
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="上传新照片"
                      placement="top"
                      size="sm" class="waves-light float-left" mdbWavesEffect>
                <i class="fa fa-arrow-left"></i>
              </button>
              <p class="flex-center"><span class="badge blue">4</span></p>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
