<div class="content-container" xmlns="http://www.w3.org/1999/html">
  <app-nav></app-nav>
  <div class="container photo-container">
    <div class="row">
      <div class="col-9">
        <mdb-card>
          <mdb-card-body>
            dasdsadas
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-3">
        <mdb-card class="album-info">
          <mdb-card-img src="../../assets/imgs/main_bg.jpg"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title class="flex-center"><h3>Unsplash</h3></mdb-card-title>
            <small class="flex-center">photo from unsplash.com</small>
            <div class="info">
              创建时间：<span class="badge blue">2018-09-29 11:25:44</span>
            </div>
            <div class="info">
              照片数量：<span class="badge blue">34</span>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
