<div class="content-container" xmlns="http://www.w3.org/1999/html">
  <app-nav></app-nav>
  <div class="container photo-container">
    <div class="row">
      <div class="col-9">
        <mdb-card>
          <mdb-card-body>
            <div class="images-container">
              <div *ngFor="let row of photos; let ri = index" class="image-list-item flex-center">
                <div *ngFor="let photo of row; let ci = index"
                  class="photo-item view zoom waves-light" mdbWavesEffect (click)="preview(ri * 4 + ci)">
                  <img src="{{photo.path}}">
                </div>
              </div>
            </div>
            <div class="flex-center">
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="上一页"
                      placement="left"
                      size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
                <i class="fa fa-arrow-left"></i>
              </button>
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="当前第 {{currentPage}} 页，共 {{totalPage}} 页"
                      placement="top"
                      size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
                {{currentPage}} / {{totalPage}}
              </button>
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="下一页"
                      placement="right"
                      size="sm" class="waves-light float-left pagination-btn" mdbWavesEffect>
                <i class="fa fa-arrow-right"></i>
              </button>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-3">
        <mdb-card class="album-info">
          <mdb-card-img src="{{album.cover.path}}"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title class="flex-center"><h3>{{album.title}}</h3></mdb-card-title>
            <small class="flex-center">{{album.description}}</small>
            <div class="info">
              创建时间：<span class="badge blue">{{album.createDate}}</span>
            </div>
            <div class="info">
              照片数量：<span class="badge blue">{{photoCount}}</span>
            </div>
          </mdb-card-body>
        </mdb-card>
        <mdb-card style="margin-top: 20px">
          <mdb-card-body>
            <div>
              <button mdbBtn type="button" color="primary"
                      mdbTooltip="上传新照片"
                      placement="top"
                      (click)="uploadPhotoModal.show()"
                      size="sm" class="waves-light" mdbWavesEffect>
                <i class="fa fa-plus"></i>
              </button>
              <button mdbBtn type="button" color="danger"
                      mdbTooltip="删除该相册"
                      placement="top"
                      (click)="deleteAlbumModal.show()"
                      size="sm" class="waves-light" mdbWavesEffect>
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>

<!--do not change fucking below codes-->
<!--it's from official guide-->
<!--photo swipe-->
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">

      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>

        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <button class="pswp__button pswp__button--share" title="Share"></button>

        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>

    </div>

  </div>
</div>

<div mdbModal #uploadPhotoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <app-alert></app-alert>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center white-text primary-color">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="uploadPhotoModal.hide()">
          <i class="fa fa-close red-text"></i>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">上传照片</h4>
      </div>
      <div class="modal-body">
        <form class="text-left" style="color: #757575;">

          <!-- Password -->
          <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input type="text" id="imageDesc" class="form-control" mdbInputDirective>
            <label for="imageDesc">描述</label>
          </div>

          <div class="md-form">
            <div class="upload-container flex-center view overlay">
              <img id="photo-previewer" src="../../assets/imgs/main_bg.jpg">
              <div class="mask white-text photo-info rgba-black-strong waves-light"
                   (click)="inputFile.click()"
                   mdbWavesEffect>
                <h3>选取相片</h3>
              </div>
            </div>
            <input id="file-chose" type="file" style="display: none" #inputFile
                   accept="image/bmp, image/jpeg, image/png"
                   (change)="fileChange()">
          </div>
        </form>
        <small class="text-danger" id="imageTip"></small>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="uploadPhotoModal.hide()" mdbWavesEffect>取消</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light"
                (click)="uploadPhoto()"
                mdbWavesEffect>上传</button>
      </div>
    </div>
  </div>
</div>
<div mdbModal #deleteAlbumModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center white-text danger-color">
        <button type="button" class="close pull-right white-text" aria-label="Close" (click)="deleteAlbumModal.hide()">
          <i class="fa fa-close white-text"></i>
        </button>
        <h4 class="modal-title w-100" id="label">警告</h4>
      </div>
      <div class="modal-body">
        <p>确认删除相册：<span class="badge red">unsplash</span>,该相册有<span class="badge blue">23</span>张照片</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="success" class="waves-light" aria-label="Close" (click)="deleteAlbumModal.hide()" mdbWavesEffect>取消</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect>确认</button>
      </div>
    </div>
  </div>
</div>
