/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F6F6F6;
  overflow-y: scroll;
}

.component-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("./assets/imgs/main_bg.jpg");
}
.content-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F6F6F6;
}

.bg-dark {
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(230, 230, 230, 0.4);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00BFFF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E90FF;
}
