<div class="content-container">
  <app-nav></app-nav>
</div>
<div class="container main-content-container">
  <div class="row">
    <div class="col-md-7 col-lg-8 col-sm-10">
      <app-article-preview></app-article-preview>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-2">
      <div class="card-container">
        <!-- Card -->
        <mdb-card>
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title> <h4>Card Title</h4> </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

          </mdb-card-body>
        </mdb-card>
        <mdb-card style="margin-top: 15px">
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title> <h4>Card Title</h4> </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
