<div class="content-container">
  <app-nav [index]="0"></app-nav>
</div>
<div class="container main-content-container">
  <div class="row">
    <div id="articles" class="col-md-7 col-lg-8 col-sm-10">
      <app-article-preview></app-article-preview>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-2">
      <div class="card-container">
        <!-- Card -->
        <mdb-card>
          <mdb-card-body>
            <div class="row">
              <div class="col fun-item" *ngIf="isAdmin" (click)="toWritor()">
                <i class="fa fa-edit"></i><br>
                <small>添加文章</small>
              </div>
              <div class="col fun-item" *ngIf="isAdmin" (click)="toUpload()">
                <i class="fa fa-image"></i><br>
                <small>上传照片</small>
              </div>
              <div class="col fun-item" (click)="toBlack()">
                <i class="fa fa-credit-card"></i><br>
                <small>小黑卡</small>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
        <mdb-card style="margin-top: 15px">
          <mdb-card-body class="content-body">
            <ul class="content-list">
              <li class="waves-ripple" mdbWavesEffect>
                <div class="content-list-item">
                  <i class="fa fa-archive"></i> 文章 <span class="info-badge">{{articleCount}}</span>
                </div>
              </li>
              <li class="waves-ripple" mdbWavesEffect>
                <div class="content-list-item">
                  <i class="fa fa-image"></i> 照片 <span class="info-badge">132</span>
                </div>
              </li>
              <li class="waves-ripple" mdbWavesEffect>
                <div class="content-list-item">
                  <i class="fa fa-music"></i> 歌单 <span class="info-badge">{{musicCount}}</span>
                </div>
              <li class="waves-ripple" mdbWavesEffect>
                <div class="content-list-item">
                  <i class="fa fa-video-camera"></i> 电影 <span class="info-badge">{{movieCount}}</span>
                </div>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
        <div class="footer">
          <a mdbTooltip="查看我的github主页" placement="top"
             class="footer-item" href="https://github.com/yxunknown"><i class="fa fa-github"></i> yxunknown</a> ·
          <a mdbTooltip="查看我的简书主页" placement="top"
             class="footer-item" href="https://www.jianshu.com/u/63219234cd03"><i class="fa fa-book"></i> 程屁凹</a> ·
          <a class="footer-item" href="https://www.jianshu.com/u/63219234cd03"><i class="fa fa-code"></i> 关于我</a> <br>
          <p>紫衣青衫打马归家，路遇伊人面似桃花。<br><br>
            本站只是个人博客网站，不对网站内容的权威性负责。同时，网站内一切内容未经允许，不得转载。
          </p>
          <p>联系方式:  <i class="fa fa-envelope"></i> hercats#qq.com   将 # 替换为 @ 。</p>
          <small>你好.HELLO.привет.NAMASTé.مرحبًا.SAULT.HOLA.HALLO.おはよう</small>
          <small style="color: orangered">ruok.today?&nbsp;&nbsp;&nbsp;Are you okay today</small><br>
          <small>友情连接</small><br>
          <a mdbTooltip="ロンリー的Github" placement="top"
             class="footer-item" href="https://viewyou.github.io/"><i class="fa fa-github"></i> ロンリー</a> ·
          <a mdbTooltip="不見長安的qq空間" placement="top"
             class="footer-item" href="https://user.qzone.qq.com/645287241"><i class="fa fa-qq"></i> 不見長安</a> ·
          <a mdbTooltip="Ronnri的主頁" placement="top"
             class="footer-item" href="https://www.bennkyou.top/"><i class="fa fa-home"></i> Ronnri</a> ·
        </div>
        <app-today></app-today>
      </div>
    </div>
  </div>
</div>
<app-dialog [isShowClose]="true" title="提示" content="需要登录" negative="不登陆" positive="登录"></app-dialog>
